@model WebProjVet.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="container" style="padding-top:50px">
        <div class="row">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <h3 class="text-center">USUÁRIO</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" asp-for="Id" id="idPrimary">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Informe uma identificação única para o Serviço com até 10 letras ou números." />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Login" class="control-label"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-sm-4">
                            <label asp-for="Senha" class="control-label"></label>
                            <input id="txtValor" asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="ConfirmaSenha" class="control-label"></label>
                            <input asp-for="ConfirmaSenha" class="form-control"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Repita a senha informada anteriormente." />
                            <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <label asp-for="EmpresaId" class="control-label"></label>
                            <select asp-for="EmpresaId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.EmpresaId, "Id", "Nome"))">
                                <option selected="selected" value="" disabled>SELECIONE</option>
                            </select>
                            <span class="text-danger" asp-validation-for="EmpresaId"></span>
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="Situacao" class="control-label"></label>
                            <select asp-for="Situacao" asp-items="Html.GetEnumSelectList<Situacao>()" class="form-control">
                                <option selected="selected" value="">SELECIONE</option>
                            </select>
                            <span asp-validation-for="Situacao" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <input type="submit" value="REGISTRAR" class="btn btn-success btn-lg btn-block" />
        </div>
        <div class="row" style="padding-top:20px">
            <a asp-action="Index" class="btn btn-info btn-lg btn-block">VOLTAR</a>
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>
        //https://stackoverflow.com/questions/15163570/how-can-i-change-all-input-values-to-uppercase-using-jquery
        $(document).on('blur', "input[type=text]", function () {
            $(this).val(function (_, val) {
                return val.toUpperCase();
            });
        });
    </script>

}

