@model WebProjVet.Models.Servico

@{
    ViewData["Title"] = "Create";
}



<h3 class="text-center">SERVIÇO</h3>


<form asp-action="Create">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" id="idPrimary">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label asp-for="Codigo" class="control-label"></label>
                                <input asp-for="Codigo" class="form-control text-uppercase" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px">
                            <div class="col-lg-4">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control text-uppercase" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px">
                            <div class="col-lg-4">
                                <label asp-for="Valor" class="control-label"></label>
                                <input asp-for="Valor" class="form-control text-uppercase text-right" />
                                <span asp-validation-for="Valor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px">
                            <div class="col-lg-4">
                                <label asp-for="ServicoTipo" class="control-label"></label>
                                <select asp-for="ServicoTipo" asp-items="Html.GetEnumSelectList<ServicoTipo>()" class="form-control">
                                    <option selected="selected" value="1">OUTROS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="GRAVAR" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-md-12">
                <a asp-action="Index" class="btn btn-info btn-lg btn-block">VOLTAR</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}