@{
    ViewData["Title"] = "Home Page";
}

<div class="media">
    <img style="height:300px"  class="align-self-center img-responsive" src="~/images/cabecalhoCH.png" alt="CH REPRODUÇÃO" />
</div>






